src/ManagmentSystem/Xprema.Managment.Domain/obj/project.assets.json
src/ManagmentSystem/Xprema.Managment.Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/ManagmentSystem/Xprema.Managment.Domain/obj/Debug/net9.0/Xprema.Managment.Domain.AssemblyInfo.cs
src/ManagmentSystem/Xprema.Managment.Domain/obj/Debug/net9.0/Xprema.Managment.Domain.AssemblyInfoInputs.cache
src/ManagmentSystem/Xprema.Managment.Domain/obj/Debug/net9.0/Xprema.Managment.Domain.assets.cache
src/ManagmentSystem/Xprema.Managment.Domain/obj/Debug/net9.0/Xprema.Managment.Domain.csproj.AssemblyReference.cache
src/ManagmentSystem/Xprema.Managment.Domain/obj/Debug/net9.0/Xprema.Managment.Domain.GeneratedMSBuildEditorConfig.editorconfig
src/ManagmentSystem/Xprema.Managment.Domain/obj/Debug/net9.0/Xprema.Managment.Domain.GlobalUsings.g.cs
src/ManagmentSystem/Xprema.Managment.Domain/ProcedureArea/FlowProcedure.cs
src/ManagmentSystem/Xprema.Managment.Domain/obj/project.nuget.cache
src/ManagmentSystem/Xprema.Managment.Domain/obj/project.packagespec.json
src/ManagmentSystem/Xprema.Managment.Domain/obj/rider.project.model.nuget.info
src/ManagmentSystem/Xprema.Managment.Domain/obj/rider.project.restore.info
Xprema.Framework/obj/Debug/net9.0/Xprema.Framework.AssemblyInfo.cs
Xprema.Framework/obj/Debug/net9.0/Xprema.Framework.AssemblyInfoInputs.cache
Xprema.Framework/obj/Debug/net9.0/Xprema.Framework.AssemblyInfo.cs
Xprema.Framework/obj/Debug/net9.0/Xprema.Framework.AssemblyInfoInputs.cache
